/*Background for index */
.index {
  background-color: #4b4f38;
}

/*Font and Size for title in index (Nanea and Smoothie Bar) */
.header-index {
  color: #d9ccb8;
  font-family: sans-serif;
  font-size: 3em

}

/*Buttons in Index for Menu Gallery and About */
.button {
  color: #d9ccb8;
  word-spacing: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 2em
}

/*Text modifier for Loyalty Card in Index */
.loyalty{
  color: #d9ccb8;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1em;
}

/*Text Modifier for the paragraph in the index at the bottom*/
.par-index {
  color: #e1dad2;
  font-family: sans-serif;
  font-size: 1em;
}


/*
#d9ccb8 - text color
#4b4f38 - background color
*/
