.loyalty{
  background-color: #4b4f38;

}

.button {
  color: #d9ccb8;
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 2em
}

.imgcenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 800px;
  color: #d9ccb8;
}

h1 {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: #d9ccb8;
}

h2{

  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: #d9ccb8;
}
